apiVersion: k0s.k0sproject.io/v1beta1
kind: ClusterConfig
metadata:
  creationTimestamp: null
  name: k0s
spec:
  api:
    externalAddress: {{ loadbalancer_host }}
    sans:
    - {{ loadbalancer_host }}
    address: {{ ansible_host }}
    k0sApiPort: 9443
    port: 6443
    tunneledNetworkingMode: false
  controllerManager: {}
  extensions:
    helm:
      repositories:
      - name: stable
        url: https://charts.helm.sh/stable
      - name: prometheus-community
        url: https://prometheus-community.github.io/helm-charts
      - name: cilium
        url: https://helm.cilium.io
      charts:
      - name: cilium
        chartname: cilium/cilium
        namespace: kube-system
        version: "1.11.4"
      - name: prometheus-stack
        chartname: prometheus-community/kube-prometheus-stack
        namespace: prometheus
        version: "14.6.1"
        values: |
          alertmanager:
            persistentVolume:
              enabled: false
          server:
            persistentVolume:
              enabled: false
    storage:
      create_default_storage_class: false
      type: external_storage
  images:
    calico:
      cni:
        image: docker.io/calico/cni
        version: v3.21.2
      kubecontrollers:
        image: docker.io/calico/kube-controllers
        version: v3.21.2
      node:
        image: docker.io/calico/node
        version: v3.21.2
    coredns:
      image: k8s.gcr.io/coredns/coredns
      version: v1.7.0
    default_pull_policy: IfNotPresent
    konnectivity:
      image: quay.io/k0sproject/apiserver-network-proxy-agent
      version: 0.0.30-k0s
    kubeproxy:
      image: k8s.gcr.io/kube-proxy
      version: v1.23.6
    kuberouter:
      cni:
        image: docker.io/cloudnativelabs/kube-router
        version: v1.3.2
      cniInstaller:
        image: quay.io/k0sproject/cni-node
        version: 0.1.0
    metricsserver:
      image: k8s.gcr.io/metrics-server/metrics-server
      version: v0.5.2
  installConfig:
    users:
      etcdUser: etcd
      kineUser: kube-apiserver
      konnectivityUser: konnectivity-server
      kubeAPIserverUser: kube-apiserver
      kubeSchedulerUser: kube-scheduler
  konnectivity:
    adminPort: 8133
    agentPort: 8132
  network:
    calico: null
    dualStack: {}
    kubeProxy:
      mode: ipvs
    kuberouter: null
    podCIDR: 10.244.0.0/16
    provider: custom
    serviceCIDR: 10.96.0.0/12
  podSecurityPolicy:
    defaultPolicy: 00-k0s-privileged
  scheduler: {}
  storage:
    etcd:
      externalCluster: null
      peerAddress: {{ ansible_host }}
    type: etcd
  telemetry:
    enabled: true
status: {}
