---
- name: Bootstrap Cilium Environment
  block:
    - name: Transfer bootstrap script to host
      template:
        # must use absolute path
        src: "{{ playbook_dir }}/roles/extra.ops/cilium.ops/files/bootstrap.sh.j2"
        dest: "{{ k0s_config_dir }}/bootstrap.sh"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: 0644

    - name: Install Cilium CLI
      command: "sh {{ k0s_config_dir }}/bootstrap.sh"

    - name: Check if Cilium CLI is present on the node
      command: "which cilium"
      register: cilium_cli
      ignore_errors: true
      changed_when: false

    - name: Install Cilum with Cilium CLI
      shell: |
        cilium install {{ cilium_extra_args }}
      environment:
        KUBECONFIG: "{{ kube_dir }}/config"
      when: cilium_cli.rc == 0
