---
- name: Create kubeconfig dir
  become: true
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  loop:
    - "{{ kube_dir }}"
    - "/root/.kube"

- name: Prepare default k0s config
  block:
    - name: Generate default k0s config file
      shell: |
        sudo k0s config create | tee {{ k0s_config_dir }}/k0s.yaml
      register: default_k0s_config
      become: true

    - name: Store default k0s config
      copy:
        dest: "{{ k0s_config_dir }}/k0s.yaml"
        content: "{{ default_k0s_config.stdout }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: 0644

- name: Apply changes to default k0s config for Cilium
  include_tasks: "{{ playbook_dir }}/roles/extra.ops/cilium.ops/tasks/update-k0s-config.yml"
  when:
    - k0s_use_custom_config
    - cni == "cilium"
