---
- name: Disable k0s service
  systemd:
    name: "{{ item }}"
    state: stopped
    enabled: no
  failed_when: false
  with_items:
    - k0scontroller
    - k0sworker

- name: Umount k0s filesystems
  include_tasks: umount-with-children.yml
  with_items:
    - "{{ k0s_data_dir }}"
    - "{{ k0s_libexec_dir }}"
  loop_control:
    loop_var: mounted_fs

- name: Remove k0s directories
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ k0s_config_dir }}"
    - "{{ k0s_data_dir }}"
    - "{{ k0s_libexec_dir }}"
    - "{{ kube_dir }}"
    - "/root/.kube"
    - "{{ systemd_dest }}/k0scontroller.service"
    - "{{ systemd_dest }}/k0sworker.service"

- name: Uninstall CNI
  include_tasks: uninstall-cni.yml

- name: Remove artifacts
  delegate_to: localhost
  file:
    dest: "{{ artifacts_dir }}/{{ context_name }}-k0s"
    state: absent
  become: false

- name: Remove k0s binary
  file:
    dest: "{{ k0s_binary_path }}"
    state: absent
  when: remove_k0s_binary | default(true)

- name: daemon_reload
  systemd:
    daemon_reload: yes

- name: Reboot node(s)
  reboot:
    msg: "Reboot initiated by Ansible"
    reboot_timeout: 120
